[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn config.wsgi:application --bind 0.0.0.0:8080 --workers 2 --timeout 120 --log-level info"
